@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --container-8xl: 90rem;
  --font-sans: 'JetBrains Mono', 'Fira Code', 'Roboto Mono', 'Courier New', monospace;

  --color-orange-50: #FFF7ED;
  --color-orange-100: #FFEDD5;
  --color-orange-200: #FED7AA;
  --color-orange-300: #FDBA74;
  --color-orange-400: #FB923C;
  --color-orange-500: #F97316;
  --color-orange-600: #EA580C;
  --color-orange-700: #C2410C;
  --color-orange-800: #9A3412;
  --color-orange-900: #7C2D12;
  --color-orange-950: #431407;
}

:root {
  --ui-container: var(--container-8xl);
}

body {
  @apply bg-orange-50 text-orange-900/70;
}

.dark body {
  @apply bg-orange-950 text-orange-200/80;
}
